body
{
    margin: 0;
    padding: 0;
    font-family: Impact;
    /* currently doesn't change the font. Needs configuring */
    background: #2F2F2F;
    color: White;
}

.icon
{
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

.head-text
{
    font-size: 40px;
    text-align: center;
}

/* rotates the plus symbol to reuse it as an exit symbol */
.cross {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
    transform: rotate(45deg);
    color: White;
}

.edit-window
{
    width: 300px;
    padding: 0px;
    margin: 0% auto 0;
    text-align: center;

}

.bottom-buttons
{
    text-align: right;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: white;
}

.white-choose {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: white;
    display: inline-flex;
}

.pink-choose {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #FFA3B9;
    display: inline-flex;
}

.orange-choose {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #FFD18C;
    display: inline-flex;
}

.green-choose {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #9FEEB5;
    margin: 5px;
    display: inline-flex;
}

.aqua-choose {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #BAEDF0;
    margin: 5px;
    display: inline-flex;
}

.yellow-choose {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    background: #F0FF95;
    margin: 5px;
    display: inline-flex;
}

.violet-choose {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    background: #E7C0FF;
    margin: 5px;
    display: inline-flex;
}

 .blue-choose {
     width: 50px;
     height: 50px;
     border-radius: 25px;
     margin: 10px;
     background: #9D96E9;
     margin: 5px;
     display: inline-flex;
 }

.color-choose
{
    position: relative;
    display: inline-block;
}

.color-content
{
    position: relative;
    margin-right: -1000px;
    height: 130px;
    width: 250px;
    padding: 5px;
    visibility: hidden;
    z-index: 1;
    background-color: #848484;
    overflow-x: hidden;

}


/* the color picking should be moved here */
/*.color-choose:hover .color-content*/
/*{*/
/*    display: block;*/
/*}*/