@import url(https://fonts.googleapis.com/css?family=Inter:300);

body {
    font-size: 20px;
    background: #2F2F2F;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: White;
    overflow-x: hidden;
    user-select: none;
}

h1 {
    position: absolute;
    width: 100%;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;
    z-index: -1;
}

.left-bottom {
    z-index: -1;
    /*border: 2px dashed red;*/
    position: absolute;
    bottom: 5%;
    left: 3%;
    width: 180px;
}

.icon
{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 60px;
    height: 60px;
}

.head-text
{
    font-size: 40px;
    text-align: center;
}

.cross {
    z-index: 1;
    /*border: 2px dashed red;*/
    position: sticky;
    top: 0;
    float: right;
    padding-top: 20px;
    padding-right: 5%;
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    margin-top: 30px;
    margin-right: 4px;
}

.cross:hover {
    cursor: pointer;
}

.edit-window
{
    width: 360px;
    text-align: center;
    margin:auto;
    padding-right: 50px;
    padding-top: 80px;

}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: white;
    z-index: 100;
}

.white-choose {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: white;
    display: inline-flex;
}

.pink-choose {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #FFA3B9;
    display: inline-flex;
}

.orange-choose {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #FFD18C;
    display: inline-flex;
}

.green-choose {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #9FEEB5;
    margin: 5px;
    display: inline-flex;
}

.aqua-choose {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #BAEDF0;
    margin: 5px;
    display: inline-flex;
}

.yellow-choose {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #F0FF95;
    margin: 5px;
    display: inline-flex;
}

.violet-choose {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #E7C0FF;
    margin: 5px;
    display: inline-flex;
}

.blue-choose {
     width: 50px;
     height: 50px;
     border-radius: 25px;
     background: #9D96E9;
     margin: 5px;
     display: inline-flex;
 }

.circle , .white-choose , .pink-choose , .orange-choose , .green-choose ,
.aqua-choose , .yellow-choose , .violet-choose , .blue-choose:hover {
    cursor: pointer;
}

.color-choose
{
    margin-left: 20px;
    z-index: 100;
}

.color-content
{
    height: 130px;
    width: 260px;
    padding: 5px;
    visibility: hidden;
    z-index: 1;
    background-color: #848484;
    overflow-x: hidden;
    float:top;
}

.element-name {
    width: 100%;
    height: 10%;
    text-align: center;
    background: white;
    outline-style: hidden;
    font-size: 32px;
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: 20px;
    border: none;
    user-select: text;
}

.element-text {
    resize: none;
    width: 100%;
    height: 38%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    color: #000000;
    background: white;
    margin: 20px;
    z-index: -2;
    border: none;
    user-select: text;
}

.save-button {
    text-align: center;
    background: #848484;
    width: 175px;
    height: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 77px;
    color: #FFFFFF;
    float: right;
    margin-right: -20px;
    padding:0;
    z-index: -1;
    border: none;
}

.save-button .text {
    margin-top: -8px;
}

.save-button:hover {
    color: #ffcf71;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #848484;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; /* animation */
}

.sidenav .user-box{
    background: #2F2F2F;
    width: auto;
    height: 50px;
    margin: 0 25px;
}

.user-icon{
    float: left;
    margin: 5px;
    height: 40px;
}

.sidenav .user-box p{
    text-align: center;
    font-size: 24px;
    padding-top: 12px;
}

.user-exit{
    float:right;
    margin: 5px;
    height: 40px;
}

.user-exit:hover{
    cursor: pointer;
    fill: #ffcf71;
}

.menu-button{
    /*border: 2px dashed red;*/
    position: sticky;
    display: inline-block;
    top: 0;
    float: left;
    padding: 25px 5% 10px;
    width: 60px;
    height: 60px;
}

.menu-button:hover {
    cursor: pointer;
}

/* navigation menu links */
.sidenav a {
    margin: 30px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
}

.sidenav .active-page{
    color: #b3b3b3;
}

.sidenav a:hover {
    color: #ffcf71;
}

.sidenav .links-box {
    position: absolute;
    top: 25%;
}

/* Close button */
.sidenav .closebtn {
    position: absolute;
    top: 30%;
    right: 25px;
    font-size: 80px;
    margin-left: 50px;
}