@import url(https://fonts.googleapis.com/css?family=Inter:300);

body {
    font-size: 20px;
    background: #2F2F2F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: White;
    overflow-x: hidden;
}

.main {

}

h1 {
    position: absolute;
    width: 100%;
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 20px;
    z-index: -1;
}

.menu-button{
    /*border: 2px dashed red;*/
    position: sticky;
    display: inline-block;
    top: 0;
    float: left;
    padding: 25px 5% 10px;
    width: 60px;
    height: 60px;

}

.menu-button:hover {
    cursor: pointer;
}


.add {
    z-index: 1;
    /*border: 2px dashed red;*/
    position: sticky;
    top: 0;
    float: right;
    padding-top: 20px;
    padding-right: 5%;
    width: 70px;
    height: 70px;
}

.add:hover {
    cursor: pointer;
}

.right-bottom {
    z-index: -1;
    /*border: 2px dashed red;*/
    position: absolute;
    width: 180px;
    max-height: 500px;
    max-width: 25%;
    bottom: 5%;
    right: 3%;
}

.cacti {
    z-index: -1;
    /*border: 2px dashed red;*/
    position: absolute;
    width: 120px;
    max-width: 25%;
    bottom: 5%;
    right: 3%;
}

.stickers-box{
    border: 2px dashed red;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
    padding-bottom: 10px;;
    text-align: center;
}

.sticker{
    display: inline-table;
    margin: 20px;
    height: 180px;
    width: 180px;
    color: black;
    padding: 10px;
    background: #ffcf71;
}

article{
    display: inline-table;
    margin: 20px;
    height: 180px;
    width: 180px;
    color: black;
    padding: 10px;
    background: #ffcf71;
}

.dots{
    width: 24px;
    float: right;
    visibility: hidden;
}

.dots-task{
    width: 24px;
    float: right;
    visibility: hidden;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: -35px
}

.task-text {
    float: left;
}

.dots-block {
    width: 0;
    height: 50px;
}

h2{
    margin-top: 3px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 24px;
}

h3{
    font-size: 18px;
    font-weight: normal;
}

figure{
    display: inline-block;
    margin: 5px 0 10px 0;
    height: 30px;
    width: 95%;
    color: black;
    padding: 10px;
}

h4 {
    margin-top: 6px;
    padding: 10px 0;
    font-size: 24px;
    font-weight: normal;
    float: left;
    width: 20%;
    max-width: 20%;
    height: 30px;
    text-align: center;
    background: yellow;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

h5 {
    margin-top: 6px;
    padding: 10px 0 10px 10px;
    font-size: 24px;
    font-weight: normal;
    float: right;
    height: 30px;
    width: 75%;
    text-align: left;
    background: #9D96E9;

}

h5 div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #848484;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; /* animation */
}

.sidenav .user-box{
    background: #2F2F2F;
    width: auto;
    height: 50px;
    margin: 0px 25px;
}

.user-icon{
    float: left;
    margin: 5px;
    height: 40px;
}

.sidenav .user-box p{
    text-align: center;
    font-size: 24px;
    padding-top: 12px;
}

.user-exit{
    float:right;
    margin: 5px;
    height: 40px;
}

.user-exit:hover{
    cursor: pointer;
    fill: #ffcf71;
}

/* navigation menu links */
.sidenav a {
    margin: 30px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
}

.sidenav .active-page{
    color: #b3b3b3;
}

.sidenav a:hover {
    color: #ffcf71;
}

.sidenav .links-box {
    position: absolute;
    top: 25%;
}

/* Close button */
.sidenav .closebtn {
    position: absolute;
    top: 30%;
    right: 25px;
    font-size: 80px;
    margin-left: 50px;
}

/* Page content inside */
#main {
    transition: margin-left .5s;
    padding: 20px;
}



