@import url(https://fonts.googleapis.com/css?family=Inter:300);

body {
    font-size: 20px;
    background: #2F2F2F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: White;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
}

.menu-but{
    /*border: 2px dashed red;*/
    position: absolute;
    top: 6%;
    left: 3%;
    width: 60px;
    height: 60px;
}




.add {
    z-index: 1;
    /*border: 2px dashed red;*/
    position: absolute;
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
}

.right-bottom {
    z-index: -1;
    /*border: 2px dashed red;*/
    position: absolute;
    width: 200px;
    bottom: 5%;
    right: 3%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #848484;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; /* animation */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Close button */
.sidenav .closebtn {
    position: absolute;
    top: 30%;
    transform: translateY(50%);
    right: 25px;
    font-size: 80px;
    margin-left: 50px;
}

/* Page content inside */
#main {
    transition: margin-left .5s;
    padding: 20px;
}



