<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>app.servlets.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/LogIn</url-pattern>
        <url-pattern>/Notes</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>app.servlets.addServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>app.servlets.listServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>app.servlets.authServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>app.servlets.LogInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Notes</servlet-name>
        <servlet-class>app.servlets.NotesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Notes</servlet-name>
        <url-pattern>/Notes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditNote</servlet-name>
        <servlet-class>app.servlets.EditNoteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditNote</servlet-name>
        <url-pattern>/EditNote</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>app.servlets.LogoutServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>


<!--    <login-config>-->
<!--        <auth-method>FORM</auth-method>-->
<!--        <form-login-config>-->
<!--            <form-login-page>/LogIn</form-login-page>-->
<!--            <form-error-page>/auth</form-error-page>-->
<!--        </form-login-config>-->
<!--    </login-config>-->
<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>Notes</web-resource-name>-->
<!--            <url-pattern>/EditNote</url-pattern>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>user</role-name>-->
<!--        </auth-constraint>-->
<!--    </security-constraint>-->
<!--    <security-role>-->
<!--        <role-name>user</role-name>-->
<!--    </security-role>-->
</web-app>